<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite">
    <test name="Selenium Tests">
        <classes>
            <class name="tests.ourPartners"></class>
            <class name="tests.MessageSubmitForm"></class>
            <class name="tests.LoginTest"></class>
            <class name="tests.Contact"></class>
        </classes>
    </test>
</suite>
